@font-face {
    font-family: "Poppins";
    src: url(assests/fonts/Poppins-Regular.ttf);
}

:root {
    --primary: #67bc00;
    --font: "Poppins";
}

body {
    font-family: var(--font) !important;
}

::selection {
    color: white !important;
    background-color: #6EB814;
}

.upper-bar .contact span {
    background-color: #f9f9ff;
}

nav {
    background-image: -webkit-linear-gradient(0deg, #ade600 0%, #62b900 100%);
}

.social-icons a {
    transition: all 0.3s ease 0s;
}

.upper-bar {
    height: 15vh;
}

.social-icons a:hover {
    color: white !important;
}

.dropdown:hover .dropdown-menu {
    display: flex;
}

.dropdown-item:hover {
    color: var(--primary);
    background-color: transparent;
}

.hero-section {
    height: 100vh;
    background-image: url(assests/images/hero/hero.png);
    background-size: cover;
    background-position: center center;
}

.hero-section::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(4, 9, 30, 0.85);
}

.hero-section span {
    letter-spacing: 2px;
}

.hero-section button {
    background-color: #67bc00;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    border: 1px solid transparent;
}

.hero-section button:hover {
    border: 1px solid white;
}

.schedule-section {
    bottom: 120px;
    box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.05);
}

.schedule-section span {
    background-color: #f9f9ff;
    cursor: pointer;
}

.schedule-section span i {
    color: var(--primary);
}

.ss-body .card .card-title {
    transition: all 0.3s ease 0s;
}

.ss-body .card .card-title:hover {
    color: var(--primary);
}

.services-section {
    padding-bottom: 120px;
}

.banner-section {
    background-color: #04091E;
}

.banner-card span {
    color: var(--primary);
}

.testinomials-section {
    padding: 120px 0px;
}

.carousel::before,
.carousel::after,
.carousel-item::before,
.carousel-item::after {
    content: none !important;
    background: none !important;
}

.carousel-indicators {
    position: static;
    margin: 0 !important;
}

.carousel-indicators button {
    background-color: #CCCCCC !important;
    width: 10px !important;
    height: 10px !important;
}

.carousel-indicators button.active {
    background-color: var(--primary) !important;
}

.ts-body h5 {
    transition: all 0.3s ease 0s;
}

.ts-body .card {
    cursor: pointer;
}

.ts-body .card:hover h5 {
    color: var(--primary);
}

.consultants-section {
    padding: 120px 0px;
    background-color: #F9F9FF;
}

.consultant {
    height: 280px;
    width: 265px;
    position: relative;
    cursor: pointer;
}

.consultant::after {
    background-image: -webkit-linear-gradient(0deg, #ade600 0%, #62b900 100%);
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.5s;
}

.consultant:hover::after {
    opacity: 0.85 !important;
}

.consultant:hover h5,
.consultant:hover p {
    opacity: 1 !important;
}

.consultant * {
    transition: opacity 0.5s;
}

.features-section {
    padding: 120px 0px;
}

.feature-icon span {
    color: var(--primary);
}

.feature-cont h5 {
    transition: all 0.3s ease 0s;
}

.feature-cont h5:hover{
    color: var(--primary);
}

.appoinment-section{
    background-color: #04091E;
}

@media screen and (max-width: 1005px) {
    .navbar {
        display: none;
    }

    .upper-bar {
        height: 10vh;
    }
}